/* header */
*{
    margin: 0;
}


.logo{
    background-image:url('../Assets/img/pattern.png');
    background-repeat: repeat;
    background-size: 10%;
    background-color: rgb(30, 34, 219);
    padding-top: 20px;
    padding-left: 10%;

}

/* main */
main{
    margin: auto;
    max-width: 80%;
    text-align: left;
}

h1{
    font-size: 40px;
    padding-bottom: 1px;
    margin-bottom: 1px;
}

#name{
    color: aqua;
}

#space{
    line-height: 3px;
}

#date{
    font-size: 11px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.description{
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 10px;
}

.text{
    margin-top: 20px;
    margin-bottom: 20px;
}

li{
    margin-left: -1em;

}

/* css della tabella */
table{
    border-spacing: 0;
    margin-top: 20px;
}

thead{
    color: white;
    background-color: rgb(53, 119, 170);
}

.t-centre{                                           
    width: 25%;
}

.t-color{
    background-color: lightblue;
}

/* footer */

footer{
    margin: auto;
    max-width: 80%;
    text-align: left;

}

#other{
    color: gray;
}

.lorem1{
    color: white;
    background-image:url(../Assets/img/monitor.jpg);
    background-repeat: no-repeat;
    min-height: 150px;
    background-size: 20%;
    margin-bottom: 10px;
}

.lorem2{
    color: white;
    background-image:url(../Assets/img/graph.jpg);
    background-repeat: no-repeat;
    min-height: 150px;
    background-size: 20%;
}